### Decoder configuration file

### Source and Destination Files
--input str.bin
--output out.yuv

 ### Destination Control Flags
--save_output 1
--num_frames -1
--loopback 0
--chroma_format YUV_420P  # options: {YUV_420P, YUV_420SP_UV, YUV_420SP_VU, GRAY, YUV_444P, YUV_422P}

### Profile Settings
--enable_yuv_format 13  # options: {bit 0: 400, bit 1: X, bit 2: 422, bit 3: 444 }

### Display settings
--share_display_buf 0
--display 0

### Performance Settings
--num_cores 1
--arch X86_GENERIC  # options: {ARM_NONEON, ARM_A9Q, ARMV8_GENERIC, X86_GENERIC, X86_SSSE3, X86_SSE42}
